
.ipynb_checkpoints/._checkpoint_cybersecurity_semestre_2-checkpoint.ipynb
.ipynb_checkpoints/checkpoint_cybersecurity_semestre_2-checkpoint.ipynb
ChallengeSprint_2/.idea/ChallengeSprint_2.iml
ChallengeSprint_2/.idea/inspectionProfiles/profiles_settings.xml
ChallengeSprint_2/.idea/misc.xml
ChallengeSprint_2/.idea/modules.xml
checkpoint_04/._checkpoint_cyber_04.ipynb
checkpoint_04/.ipynb_checkpoints/face_detection_app-checkpoint.py
checkpoint_04/.ipynb_checkpoints/checkpoint_cyber_04-checkpoint.ipynb
